{% extends "base.html" %}
{% block content %}
<h1>Rejestracja</h1>

<form method="post" action="{{ url_for('register') }}">
    <label>
        E-mail:
        <input type="email" name="email" required>
    </label>

    <label>
        Hasło (min. 6 znaków):
        <input type="password" name="password" minlength="6" required>
    </label>

    <button type="submit">Załóż konto</button>
</form>

<p style="margin-top: 12px;">
    Masz już konto? <a href="{{ url_for('login') }}">Zaloguj się</a>
</p>
{% endblock %}
